*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg1);
  color: #333;
  display: flex;
  justify-content: center;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background-color: yellow; */
}

.container {
  position: relative;
  background: var(--bg2);
  margin-top: 5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  /* max-width: 600px; */
  width: 85%;
  padding: 20px;
  max-width: 50rem;
  outline: 2px solid rgb(176, 176, 176);
}

h1 {
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}

.question-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--accen);
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  outline: 2px solid rgb(176, 176, 176);
  background-color: var(--bg1);
  font-weight: bold;
  color: var(--accen);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.hasil-box {
  margin-top: 30px;
  padding: 20px;
  border: 2px dashed #007bff;
  border-radius: 8px;
  text-align: center;
}

#rekomendasi-text {
  font-size: 1.1em;
  font-weight: bold;
  color: #d9534f; /* Warna default untuk belum ada rekomendasi */
}

.container-hasil {
  width: 90%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 10rem;
}

.list-penjelasan {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
  gap: 0.3rem;
}
.list-penjelasan li::marker {
  color: rgb(149, 0, 0);
}

.con-btn-close {
  position: absolute;
  height: 3rem;
  aspect-ratio: 1/1;
  /* background-color: #28a745; */
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.con-btn-close a {
  display: inline-flex;
  height: 100%;
  width: 100%;
  background-color: #333;
  outline: 2px solid rgb(176, 176, 176);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
