.container-btn {
  display: flex;
  justify-content: center;
}

.container-btn button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 10rem;
  border: 1px solid var(--accen);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container-btn button:active {
  transform: scale(0.8);
}

.hbjhk {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.hbjhk span {
  color: var(--accen);
  font-weight: bold;
}
.hbjhk div {
  display: flex;
}

.container-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.adabyu {
  display: none !important;
}
/* container prev dan next btn */
.csdeeds {
  margin-bottom: 10rem !important;
  display: none;
}
.csdeeds div {
  display: flex;
  gap: 1rem;
}
.csdeeds div #next-btn,
.csdeeds div #prev-btn {
  display: inline-flex;
  border: none;
  background-color: var(--accen);
  height: 3rem;
  width: 12rem;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
@media (max-width: 640px) {
  .csdeeds div {
    display: flex;
    gap: 0;
  }
  .csdeeds div #next-btn,
  .csdeeds div #prev-btn {
    transform: scale(0.8);
  }
}

.csdeeds div button:active {
  transform: scale(0.8);
}

.fkaug {
  height: 90%;
  aspect-ratio: 1/1;
  /* background-color: aliceblue; */
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.csdeeds div button:nth-child(1) .fkaug {
  background-image: url(./../asset/icon/arrow_back.svg);
}
.csdeeds div button:nth-child(2) .fkaug {
  background-image: url(./../asset/icon/arrow_forward.svg);
}

.csdeeds div button section {
  font-weight: 800;
  font-size: 1.6em;
  color: var(--bg1);
}
