.container-btn {
  display: flex;
  justify-content: center;
}

.container-btn button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 10rem;
  border: 1px solid var(--accen);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container-btn button:active {
  transform: scale(0.8);
}

.hbjhk {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.hbjhk span {
  color: var(--accen);
  font-weight: bold;
}
.hbjhk div {
  display: flex;
}

.container-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
